body {
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#bodydiv {
    position: fixed;
    top: 145px;
}

#header {
    position: fixed;
    margin: 0px;
    width: 100%;
    height: 100px;
    background-color:lightgray;
    font-size: 50px;
    line-height: 100px;
    font-weight: bolder;
    user-select: none;
    overflow: hidden;
}

#header span {
    margin-left: 20px
}

ul#navbar {
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
}

#navbar li {
    position: relative;
    float: left;
    width: 250px;
    z-index: calc(0 - var(--id));
}

#navbar a {
    display: block;
    position: relative;

    background-color: gray;
    color: white;
    border: 0px solid darkslategray;
    text-decoration: none;
    text-align: center;
    transition: 0.05s ease-in-out;
    cursor: pointer;
    user-select: none;
}

#navbar a.primary {
    height: 45px;
    line-height: 45px;
}

#navbar a.secondary {
    height: 0px;
    float: left;
    line-height: 35px;
    visibility: hidden;
    /* Max possible height: Primary border + secondary height + secondary border = 10 + 35 + 10 = 55 */
    margin-bottom: -55px;
}

#navbar a.secondary.expanded {
    height: 35px;
    visibility: visible;
    margin-top: 10px;
}

#navbar a.primary.expanded {
    /* transition: 2s ease-in-out, margin 0s; */
    margin-bottom: -10px;
}

#navbar a.primary.right.expanded, 
#navbar a.primary.persistentright:not(.expanded),
#navbar a.secondary.right:hover, 
#navbar a.secondary.persistentright {
    border-bottom-right-radius: 10px;
}

#navbar a.primary.left.expanded,
#navbar a.primary.persistentleft:not(.expanded),
#navbar a.secondary.left:hover, 
#navbar a.secondary.presistentleft {
    border-bottom-left-radius: 10px;
}

#navbar a.primary.expanded, 
#navbar a.secondary:hover { 
    border-top-width: 10px; 
}

#navbar a:hover { background-color: darkgray; }

#navbar a.secondary:active, #navbar a.primary:active {
    background-color: lightgray;
    border-top-width: 5px;
}

.communism {
    position: fixed;
    left: 190px;
    top: calc((100px - 130px) / 2);
    width: 130px;
    border-radius: 50%;
    z-index: -1;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#invisible {
    animation-name: fadeout;
    animation-duration: 60s;
}