body {
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#header {
    position: fixed;
    margin: 0px;
    width: 100%;
    height: 100px;
    background-color:lightgray;
    font-size: 50px;
    line-height: 100px;
    font-weight: bolder;
}

#header span {
    margin-left: 20px
}

#navbar {
    position: fixed;
    margin-top: 100px;
    list-style: none;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar a {
    margin-top: 0px;
    height: 25px;
    padding: 10px;
    background-color: gray;
}