.button {
    font-size: 80px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px currentColor;
    position: absolute;
    user-select: none;
    transition: all 0.1s ease-in-out;
}

a{
    text-decoration: none;
}

.button:hover{
    margin-top: -4px;
    box-shadow: 0px 14px currentColor;
}

.button:active{
    margin-top: 8px;
    box-shadow: 0px 2px currentColor;
}

ul{
    display: inline;
    list-style-type: none;
    margin: 0px;
}
